<div class="ui vertically divided grid">
    <div class="two column row">
      <div id="left_col" class="column">
        <h2 class="principal">Cadastro</h2>
        <pre class="texto" id="t1">
          Cadastre-se para
          obter inúmeros
          benefícios
        </pre>
        
        <div class="form">
          <label class="textinho">Insira seu CPF abaixo:</label>
          <div class="ui input focus" id="cpfdivinput">
            <input type="text" id="cpfinput"
            placeholder="123.456.789-10"
            pattern="[0-9]{3}.[0-9]{3}.[0-9]{3}-[0-9]{2}">
          </div>

          <label class="textinho">Insira seu nome completo abaixo:</label>
          <div class="ui input focus" id="nomedivinput">
            <input type="text" id="nomeinput"
            placeholder="Maria dos Santos Silva">
          </div>

          <label class="textinho">Insira sua data de nascimento abaixo:</label>
          <div class="ui input focus" id="nascdivinput">
            <input type="date" id="nascinput">
          </div>
          <button class="ui primary button" id="continuar" (click)="onClickContinuar()">Continuar</button>
        </div>
      </div>

      <div class="column" id="right_col">
        <img id="main_img" class="ui fluid image" src="../../../assets/images/hotel_escrita.png">
      </div>
    </div>
</div>