<div class="ui vertically divided grid">
    <div class="two column row">
      <div id="left_col" class="column">
        <img id="main_img" class="ui fluid image" src="../../../assets/images/vista_escrita.jpg">
      </div>
      <div class="column" id="col2">
        <h2 class="principal">Hotelaria</h2>
        <pre class="texto" id="t1">
          Entre para acessar 
          os serviços disponíveis
        </pre>
        
        <div class="cpfdiv">
          <label class="textinho">Faça login com seu CPF</label>
          <div class="ui input focus" id="cpf_input">
            <input type="text"
            placeholder="123.456.789-10"
            pattern="[0-9]{3}.[0-9]{3}.[0-9]{3}-[0-9]{2}">
          </div>
          <button class="ui primary button" id="continuar">Continuar</button>
        </div>
        
        <div class="cadastrar_div">
          <label class="textinho">Ainda não possui uma conta?</label>
          <button class="ui violet button" id="cadastrar">Cadastrar-se</button>
        </div>
      </div>
    </div>
</div>